language: python
python:
- 3.7
services:
- postgresql
before_install:
- pip install poetry flake8 pytest pytest-cov
install:
- poetry install
before_script:
- psql -c 'create database wizardchess;' -U postgres
script:
- poetry run flake8
- poetry run pytest tests/ --cov=./
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ab5afe4b1bf64798567e
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
